<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="STRIPE_KEY" value="pk_test_51P5k3TP9mMWS8EX7EgEo7VOhPcpBLfHh7kaMHzNpmiloKbckI542sGUybALT7oFMldLzKV6FbdicM4EWIq6bjdzn00RrlvTJTX"/>
    <env name="STRIPE_SECRET" value="sk_test_51P5k3TP9mMWS8EX7cZUwIahovsqz7ZsALCJ9oUd1CLDNhv1qOVQ7G753317fckVkIeUC7wm94WH566y21goU0Wpu00aUASUjLe"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
  <coverage>
    <report>
        <cobertura outputFile="cobertura.xml"/>
    </report>
  </coverage>
</phpunit>
